* {
    box-sizing: border-box;
    font-family: Raleway;
}

.box {
    box-sizing: border-box;
}

h1, section, section *, header, header *, footer, nav {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.fas {
    display: inline-block;
}

header {
    justify-content: space-between;
    padding: 0px 100px;
    height: 200px;
    margin-top: -8px;
}

.logo img {
    margin: auto;
}

.puce_menu {
    padding: 90px 20px;
    font-size: 20px;
    font-weight: 500;
}

.puce_menu:hover {
    border-top: solid #0065FC 3px;
    color: #0065FC;
    height: 197px;
}

#top {
    margin: 0px 60px;
    flex-direction: column;
    height: 250px;
    justify-content: space-between;
}

#title_top {
    font-size: 150%;
    font-weight: bold;
}

#search {
    height: 50px;
    font-size: 120%;
    font-weight: bold;
    width: 33%;
    margin: 15px 0px 0px 20px;
    border: #F2F2F2 solid 1px;
    border-radius: 15px;
    flex-direction: row;
}

.search_icon {
    width: 50px;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    margin: -1px 0px -1px -1px;
}

form {
    width: calc(100% - 50px);
}

.search_input {
    flex-grow: 2;
    border-top: solid #f2f2f2 1px;
    border-bottom: solid #f2f2f2 1px;
    margin: -1px 0px;
}

#city {
    height: 50px;
    flex: 1;
    align-items: center;
    padding-left: 20px;
    border: none;
    font-size: 110%;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}

button {
    cursor: pointer;
    height: 50px;
    border-radius: 0px 15px 15px 0px;
    padding: 0px 12px;
    margin: 0px -1px 0px 0px;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    color: white;
    border:none;
    font-size: 110%;
    font-weight: bold;
}

#rechercher {
    display: block;
}

#loupe {
    display: none;
}

.fa-map-marker {
    display: block;
    margin: auto;
}

#filters {
    height: 50px;
    font-size: 120%;
    font-weight: bold;
    padding-left: 20px;
    justify-content: space-between;
    align-items: center;
    width: 66%;
}

.filter {
    cursor: pointer;
    border: solid #c2c2c2 2px;
    height: 46px;
    border-radius: 23px;
    align-items: center;
    padding-right: 15px;
}

.filter:hover {
    border-color: #DEEBFF;
    background-color: #DEEBFF;
}

.filter_icon {
    background-color: #DEEBFF;
    color: #0065FC;
    height: 46px;
    width: 46px;
    border-radius: 23px;
    margin: -2px 10px -2px -3px;
}

.filter_icon .fas {
    margin: auto;
}

#info {
    height: 26px;
}

.info_icon {
    color:#0065FC;
    border: solid #c2c2c2 1px;
    width: 26px;
    height: 26px;
    border-radius: 13px;
}

.info_text {
    margin: auto 0px auto 20px;
}

.fa-info {
    display: block;
    margin: auto;
}

.titre_section {
    width: 100%;
    font-size: 150%;
    font-weight: bold;
    margin: 30px 15px 15px 15px;
    padding: 0px;
    flex-direction: row;
    justify-content: space-between;
}

#places {
    padding: 30px 0px;
    justify-content: space-between;
}

#hebergements {
    width: 60%;
    background-color: #F2F2F2;
    border-radius: 30px;
    padding: 15px;
    margin-left: 60px;
}

.hebergement {
    display: block;
    border-radius: 30px;
    background-color: white;
    box-shadow: 5px 5px 5px #c2c2c2;
    width: 30%;
    height: 250px;
    overflow: hidden;
    padding: 5px;
    margin: 15px;
    flex-direction: column;
}

.img_hebergement {
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border-radius: 28px 28px 0px 0px;
    height: 150px;
    width: 100%;
}

.info_hebergement {
    flex-direction: column;
    margin: auto 20px;
}

.titre_hebergement {
    font-weight: bold;
    font-size: 120%;
}

.titre_hebergement, .prix_hebergement, .rank {
    margin: 4px;
}

.blue_star {
    color: #0065FC;
}

.grey_star {
    color: #c2c2c2;
}

strong {
    font-weight: 600;
}

.afficher_plus {
    margin: 15px;
    font-size: 120%;
    font-weight: bold;
}

#populaires {
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 30px;
    align: left;
    padding: 15px;
    margin-right: 60px;
}

.populaire {
    display: block;
    border-radius: 30px;
    background-color: white;
    box-shadow: 5px 5px 5px #c2c2c2;
    width: 95%;
    height: 180px;
    overflow: hidden;
    padding: 5px;
    margin: 15px;
    flex-direction: row;
}

.img_populaire {
    justify-content: flex-start;
    align-items: center;
    object-fit: cover;
    border-radius: 28px 0px 0px 28px;
    height: 170px;
    width: 37%;
}

.populaire .info_hebergement {
    max-width: 50%;
}

.populaire .info_hebergement .rank {
    margin-top: 60px;
}

#activites {
    margin: 0px 60px;
    justify-content: space-between;
}

.activite_column {
    width: 22%;
    flex-direction: column;
    justify-content: space-between;
}

.activite {
    border-radius: 30px;
    background-color: white;
    box-shadow: 5px 5px 5px #c2c2c2;
    width: 100%;
    height: 270px;
    overflow: hidden;
}

.titre_activite {
    height: 40px;
    padding-left: 20px;
    align-items: center;
    font-weight: bold;
    font-size: 120%;
}

.img_activite {
    justify-content: center;
    align-items: center;
    object-fit: cover;
    height: 210px;
    width: 100%;
}



.activite_column:nth-of-type(even) .activite {
    height: 570px;
}

.activite_column:nth-of-type(even) .img_activite {
    height: 510px;
}

#pomegues {
    height: 320px;
}

#pomegues .img_activite {
    height: 260px;
}

#frioul {
    height: 210px;
}

#frioul .img_activite {
    height: 150px;
}

#nddlg {
    height: 250px;
}

#nddlg .img_activite {
    height: 190px;
}

#longchamp {
    height: 280px;
}

#longchamp .img_activite {
    height: 220px;
}

footer {
    margin-top: 50px;
    padding: 60px;
    background-color: #F2F2F2;
    justify-content: space-between;
}

.bottom {
    font-size: 120%;
    width: 30%;
}

.bottom div {
    margin: 10px 0px;
}

.bottom_title {
    font-weight: bold;
    padding-bottom: 12px;
}

@media screen and (max-width: 992px) {

    header {
        margin: 0px 0px 0px -10px;
        padding: 10px 0px 0px 0px;
        flex-direction: row;
        width: calc(100% + 20px);
        height: 150px;
    }

    .logo {
        margin: auto;
    }

    .logo img {
        width: 114px;
        height: 54px;
        margin: auto;
    }

    nav {
        margin: 0px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    nav a {
        display: block;
        border-bottom: #F2F2F2 solid 3px;
        width: 50%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .puce_menu {
        padding: 0px 0px 10px 0px;
        text-align: center;
        justify-content: center;
        font-size: 110%;
    }

    #top {
        margin: 0px 10px;
        height: 500px;
    }

    #rechercher {
        display: none;
    }

    #loupe {
        display: block;
    }

    #search {
        width: 100px;
        margin: 0px;
    }

    form {
        width: calc(100% - 50px);
    }
}

@media screen and (max-width: 768px) {

}