* {
    box-sizing: border-box;
    font-family: Raleway;
}

.box {
    box-sizing: border-box;
}

div {
    border: solid black 1px;
}

h1 {
    border: solid red 1px;
}

section, header, footer {
    border: solid green 1px;
}

nav {
    border: solid blue 1px;
}

h1, section, section *, header, footer, nav {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

.fas {
    display: inline-block;
}

header {
    justify-content: space-between;
    padding: 0px 130px;
    height: 235px;
}

header p {
    align-self: center;
}

.elem_top {
    width: 100%;
}

.elem_filter {
    margin: 20px;
}

.titre_section {
    width: 100%;
    font-size: 150%;
    font-weight: bold;
    margin: 15px;
}

#places {
    padding: 30px;
}

#hebergements {
    width: 60%;
    background-color: #F2F2F2;
    border-radius: 30px;
    padding: 15px;
}

.hebergement {
    border-radius: 30px;
    background-color: white;
    box-shadow: 5px 5px 5px #929292;
    width: 30.5%;
    height: 300px;
    overflow: hidden;
    padding: 5px;
    margin: 15px;
    flex-direction: column;
}

.img_hebergement {
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border-radius: 28px 28px 0px 0px;
    height: 200px;
    width: 100%;
}

.populaire .img_hebergement {
    height: 
}

.info_hebergement {
    flex-direction: column;
    margin: auto 10px;
}

.titre_hebergement {
    font-weight: bold;
    font-size: 120%;
}

.titre_hebergement, .prix_hebergement, .rank {
    margin: 2px;
}

.blue_star {
    color: #0065FC;
}

.grey_star {
    color: #c2c2c2;
}

strong {
    font-weight: 600;
}

#populaires {
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 30px;
    align: left;
    padding: 15px;    
}

.populaire {
    border-radius: 30px;
    background-color: white;
    box-shadow: 5px 5px 5px #929292;
    width: 95%;
    height: 150px;
    overflow: hidden;
    padding: 5px;
    margin: 15px;
    flex-direction: row;
}

.img_populaire {
    justify-content: flex-start;
    align-items: center;
    object-fit: cover;
    border-radius: 28px 0px 0px 28px;
    height: 138px;
    width: 37%;
}

.populaire .info_hebergement {
    max-width: 50%;
}

.activite_column {
    width: 22%;
    flex-direction: column;
    margin: 15px;
}

.activite {
    border-radius: 30px;
    background-color: white;
    box-shadow: 5px 5px 5px #929292;
    width: 100%;
    height: 270px;
    overflow: hidden;
    margin: 15px;
}

.titre_activite {
    height: 40px;
    padding-left: 20px;
    align-items: center;
    border: solid black;
    font-weight: bold;
    font-size: 120%;
}

.activite_column:nth-of-type(odd) .activite {
    height: 570px;
}

.img_activite {
    justify-content: center;
    align-items: center;
    object-fit: cover;
    height: 210px;
    width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 992px){
    
}

@media screen and (max-width: 768px) {

}