* {
    box-sizing: border-box;
    font-family: Raleway;
}

.box {
    box-sizing: border-box;
}

h1, section, section *, header, header *, footer, nav {
    display: flex;
    flex-wrap: wrap;
}

body {
    margin: 0px;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.fas {
    display: inline-block;
}

header {
    justify-content: space-between;
    padding: 0px 50px;
    height: 200px;
}

.logo img {
    margin: auto;
}

.puce_menu {
    padding: 90px 20px;
    font-size: 20px;
    font-weight: 500;
}

.puce_menu:hover {
    border-top: solid #0065FC 3px;
    color: #0065FC;
    height: 197px;
}

#top {
    margin: 0px 30px;
    flex-direction: column;
    height: 250px;
    justify-content: space-between;
}

#title_top {
    font-size: 150%;
    font-weight: bold;
}

#search {
    height: 50px;
    font-size: 120%;
    font-weight: bold;
    min-width: 33%;
    max-width: 60%;
    margin: 15px 0px 0px 20px;
    border: #F2F2F2 solid 1px;
    border-radius: 15px;
    flex-direction: row;
}

.search_icon {
    width: 50px;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    margin: -1px 0px -1px -1px;
}

form {
    width: calc(100% - 50px);
}

.search_input {
    flex-grow: 2;
    border-top: solid #f2f2f2 1px;
    border-bottom: solid #f2f2f2 1px;
    margin: 0px;
    min-width: 0px;
}

#city {
    flex: 1;
    align-items: center;
    padding-left: 20px;
    border: none;
    font-size: 110%;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}

button {
    cursor: pointer;
    height: 100%;
    border-radius: 0px 15px 15px 0px;
    padding: 0px 12px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    color: white;
    border:none;
    font-size: 110%;
    font-weight: bold;
}

#rechercher {
    display: block;
}

#loupe {
    display: none;
}

.fa-map-marker {
    display: block;
    margin: auto;
}

#filters {
    min-height: 50px;
    font-size: 120%;
    font-weight: bold;
    padding-left: 20px;
    justify-content: space-between;
    align-items: center;
}

.filter {
    cursor: pointer;
    border: solid #c2c2c2 2px;
    height: 46px;
    border-radius: 23px;
    align-items: center;
    padding-right: 15px;
    margin: 2px 0px;
}

.filter:hover {
    border-color: #DEEBFF;
    background-color: #DEEBFF;
}

.filter_icon {
    background-color: #DEEBFF;
    color: #0065FC;
    height: 46px;
    width: 46px;
    border-radius: 23px;
    margin: -2px 10px -2px -3px;
}

.filter_icon .fas {
    margin: auto;
}

#info {
    height: 26px;
}

.info_icon {
    color:#0065FC;
    border: solid #c2c2c2 1px;
    width: 26px;
    height: 26px;
    border-radius: 13px;
}

.info_text {
    margin: auto 0px auto 20px;
}

.fa-info {
    display: block;
    margin: auto;
}

.titre_section {
    font-size: 130%;
    width: 100%;
    font-weight: bold;
    margin: 30px 15px 15px 15px;
    padding: 0px;
    flex-direction: row;
    justify-content: space-between;
}

#places {
    padding: 30px 0px;
    justify-content: space-between;
}

#hebergements {
    width: 62%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 10px;
    margin-left: 30px;
    justify-content: space-between;
}

.hebergement {
    display: block;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px #c2c2c2;
    width: 30%;
    height: 200px;
    overflow: hidden;
    padding: 5px;
    margin: 9px;
    flex-direction: column;
}

.img_hebergement {
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border-radius: 18px 18px 0px 0px;
    height: 100px;
    width: 100%;
}

.info_hebergement {
    flex-direction: column;
    margin: auto 5px;
    font-size: 90%;
}

.titre_hebergement {
    font-weight: bold;
    font-size: 100%;
}

.titre_hebergement, .prix_hebergement, .rank {
    margin: 4px;
}

.blue_star {
    color: #0065FC;
}

.grey_star {
    color: #c2c2c2;
}

strong {
    font-weight: 600;
}

.afficher_plus {
    margin: 15px;
    font-size: 120%;
    font-weight: bold;
}

#populaires {
    width: 31%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 10px;
    margin-right: 30px;
}

.populaire {
    display: block;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px #c2c2c2;
    width: 95%;
    height: 140px;
    overflow: hidden;
    padding: 5px;
    margin: 10px;
    flex-direction: row;
}

.img_populaire {
    justify-content: flex-start;
    align-items: center;
    object-fit: cover;
    border-radius: 18px 0px 0px 18px;
    height: 130px;
    width: 36%;
}

.populaire .info_hebergement {
    max-width: 56%;
    flex-direction: column;
}

.populaire .info_hebergement .rank {
    margin-top: 25px;
}

#activites {
    margin: 0px 30px;
    justify-content: space-between;
}

.activite_column {
    width: 23%;
    flex-direction: column;
    justify-content: space-between;
}

.activite {
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px #c2c2c2;
    width: 100%;
    height: 270px;
    overflow: hidden;
}

.titre_activite {
    height: 40px;
    padding: 0px 20px 0px 20px;
    align-items: center;
    font-weight: bold;
    font-size: 100%;
}

.img_activite {
    justify-content: center;
    align-items: center;
    object-fit: cover;
    height: 210px;
    width: 100%;
}

.activite_column:nth-of-type(even) .activite {
    height: 570px;
}

.activite_column:nth-of-type(even) .img_activite {
    height: 510px;
}

#pomegues {
    height: 320px;
}

#pomegues .img_activite {
    height: 260px;
}

#frioul {
    height: 210px;
}

#frioul .img_activite {
    height: 150px;
}

#nddlg {
    height: 250px;
}

#nddlg .img_activite {
    height: 190px;
}

#longchamp {
    height: 280px;
}

#longchamp .img_activite {
    height: 220px;
}

footer {
    margin-top: 50px;
    padding: 60px;
    background-color: #F2F2F2;
    justify-content: space-between;
}

.bottom {
    font-size: 120%;
    width: 30%;
}

.bottom div {
    margin: 10px 0px;
}

.bottom_title {
    font-weight: bold;
    padding-bottom: 12px;
}

@media screen and (max-width: 992px) {

    header {
        margin: 0px;
        padding: 10px 0px 0px 0px;
        flex-direction: row;
        width: 100%;
        height: 150px;
    }

    .logo {
        margin: auto;
    }

    .logo img {
        width: 114px;
        height: 54px;
        margin: auto;
    }

    nav {
        margin: 0px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    nav a {
        display: block;
        width: 50%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .puce_menu {
        padding: 0px 0px 10px 0px;
        border-bottom: #F2F2F2 solid 3px;
        text-align: center;
        justify-content: center;
        font-size: 110%;
    }

    .puce_menu--blue {
        color:#0065FC;
        border-color: #0065FC;
    }

    #top {
        margin: 0px 10px;
        min-height: 400px;
        max-height: 500px;
        padding-top: 0px;
        justify-content: space-around;
    }

    #rechercher {
        display: none;
    }

    #loupe {
        display: block;
    }

    #search {
        width: calc(100% - 20px);
        margin: 0px;
        max-width: 100%;
        flex-wrap: nowrap;
    }

    form {
        flex-wrap: nowrap;
    }

    input {
        width: calc(100% - 40px);
    }

    .filter_title {
        width: 100%;
    }

    #filters {
        max-height: 200px;
        width: 100%;
        padding-left: 0px;
    }

    #info {
        height: 46px;
        width: 100%;
        align-items: center;
        flex-wrap: nowrap;
    }

    .info_text {
        margin: auto auto auto 10px;
    }

    #places {
        padding: 0px;
    }

    .titre_section {
        width: inherit;
    }

    #hebergements {
        order: 2;
        width: 100%;
        background-color: white;
        border-radius: 0px;
        padding: 10px 0px;
        margin-left: 0px;
    }

    .titre_section {
        margin: 30px 15px;
        font-size: 150%;
    }
    
    .hebergement {
        width: calc(100% - 20px);
        margin: 5px 10px;
        border-radius: 20px;
        height: 220px;
    }

    .info_hebergement {
        font-size: 100%;
    }

    .titre_hebergement {
        font-size: 120%;
    }

    .img_hebergement {
        border-radius: 18px 18px 0px 0px;
        height: 120px;
    }

    #populaires {
        order: 1;
        width: 100%;
        background-color: #F2F2F2;
        border-radius: 0px;
        padding: 10px 0px;
        margin-right: 0px;
    }

    .populaire {
        height: 140px;
        margin: 5px 10px;
        border-radius: 20px;
        width: calc(100% - 20px);
    }

    .img_populaire {
        height: 130px;
        border-radius: 18px 0px 0px 18px;
    }

    .populaire .info_hebergement {
        max-width: 50%;
    }

    #activites {
        margin: 0px;
        flex-direction: column;
    }
    
    .activite_column {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .activite {
        border-radius: 20px;
        height: 200px;
        margin: 8px 10px;
    }

    .titre_activite {
        font-size: 120%;
    }

    .img_activite {
        height: 140px;
    }

    .activite_column:nth-of-type(even) .activite {
        height: 200px;
    }
    
    .activite_column:nth-of-type(even) .img_activite {
        height: 140px;
    }

    #pomegues {
        height: 200px;
    }
    
    #pomegues .img_activite {
        height: 140px;
    }
    
    #frioul {
        height: 200px;
    }
    
    #frioul .img_activite {
        height: 140px;
    }
    
    #nddlg {
        height: 200px;
    }
    
    #nddlg .img_activite {
        height: 140px;
    }
    
    #longchamp {
        height: 200px;
    }
    
    #longchamp .img_activite {
        height: 140px;
    }

    footer {
        margin-top: 50px;
        padding: 20px;
        background-color: #F2F2F2;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .bottom {
        font-size: 120%;
        width: 100%;
    }
    
    .bottom div {
        margin: 10px 0px;
    }
    
    .bottom_title {
        font-weight: bold;
        padding-bottom: 12px;
    }
}

@media screen and (max-width: 768px) {

}